 /* * {
            box-sizing: border-box;
        } */
        body {
            font-family: 'Balsamiq Sans', cursive;
            margin: 0%;
            padding: 0%;
            background-color: black;
            ;
            color: white;
        }

        nav {
            background-color: rgb(35 31 31);
            /* margin: 0%; */
        }

        .left {
            display: inline-block;
            /* border: 2px solid rgb(169, 142, 219); */
            position: absolute;
            top: 5px;
            left: 34px;
            font-size: 20px;
        }

        .left img {
            width: 76px;
        }

        .mid {
            /* list-style: none; */
            border: 2px solid rgb(35 31 31);
            display: block;
            width: 60%;
            margin: 0% auto;
            font-size: 20px;
        }

        .mid ul {
            list-style: none;
            /* padding-left: 15px; */
            /* padding: 20px; */
        }

        .mid li a {
            text-decoration: none;
            color: white;
        }

        #navbar li a:hover {
            color: rgb(180, 175, 175);
            /* text-decoration: underline; */
            /* background-color: green; */
        }

        .mid li {
            display: inline-block;
            padding: 0px 22px;
        }

        .right {
            /* border: 2px solid rgb(2, 238, 140); */
            display: inline-block;
            position: absolute;
            top: 18px;
            right: 70px;
        }

        /* .right ul{
            filter: invert();
            width: 30px;
            text-decoration: none;
            
        }
        .right li a{
            display: inline-block;
            list-style: none;
        } */
        .right img {
            filter: invert();
            width: 30px;
            /* text-decoration: none; */

        }

        /* .right span a img :hover{
            color:rgb(180, 175, 175);
        } */
        /* .right img :hover{
            background-color: green;
        } */
        span {
            padding: 8px;
        }

        /* .hov :hover{
            background-color: green;
        } */
        .main {
            background-image: url(./images/huzaifa3.jpg);
            background-repeat: repeat-y ;
            /* border-image-repeat: no repeat; */
            /* border: 2px solid yellow; */
            float: left;
            width: 42.9%;
            height: 980px;
            /* padding-bottom: 2px; */
            /* display: inline-block; */
            /* border: 2px solid yellow; */
            /* border: 2px solid yellow ; */
            /* width: 500px;
            height: 1000px; */
            /* width: 50%; */
        }

        #messenger {
            /* border: 2px solid green; */
            width: 50px;
            height: 50px;
            position: fixed;
            bottom: 80px;
            right: 20px;
        }

        #messenger a img {
            width: 50px;
            height: 50px;
        }

        #whatsapp {
            /* border: 2px solid green; */
            width: 50px;
            height: 50px;
            position: fixed;
            bottom: 20px;
            right: 20px;
        }

        #whatsapp a img {
            width: 50px;
            height: 50px;
        }

        #myname {
            color: #00a1d2;
            display: inline-block;
            font-size: 65px;
            /* border: 2px solid tomato; */
            /* width: 680px; */
            position: fixed;
            bottom: 40px;
            left: 130px;
        }

        #work {
            /* color: #6d9ab5; */
            color: white;
            display: block;
            font-weight: bold;
            font-size: 24px;
            /* border: 2px solid tomato; */
            /* width: 680px; */
            position: fixed;
            bottom: 23px;
            left: 282px;
        }

        .data {
            background-color: rgba(51, 49, 49, 0.938);
            /* position: absolute;
            right: 1px; */
            /* border: 2px solid blue; */
            display: inline-block;
            width: 54.5%;
            height: 940px;
            padding: 20px;
        }

        h1 {
            font-size: 50px;
        }

        h4 {
            font-size: 20px;
        }


        #aboutme {
            /* border: 2px solid red; */
            padding: 0px 40px;
        }

        h4 {
            color: #00a1d2;
        }

        /* .ferozi{
            color: #00a1d2;
        } */

        #myservices {
            font-size: 25px;
            /* border: 2px solid red; */
            padding: 0px 40px;
        }

        .service {
            /* border: 2px solid white; */
            display: inline-block;
            width: 341px;
            height: 250px;
            padding: 5px 40px;
        }

        .subservice {
            filter: invert();
            /* padding: 10px 20px; */
            width: 70px;
            height: 70px;
        }

        .footer {
            /* border: 2px solid red; */
            position: absolute;
            right: 1px;
            width: 895px;
            height: 600px;
        }

        #form {
            font-size: 18px;
            /* border: 2px solid green; */
            display: block;
            width: 60%;
            margin: auto;

        }

        #form h2 {
            color: #00a1d2;
            font-size: 30px;
            justify-content: center;
            text-align: center;
        }

        .inp {
            /* border: 2px solid red; */
            display: inline-block;
        }

        .inp input {
            border-radius: 30px;
            width: 238px;
            height: 25px;
        }

        .inp textarea {
            border-radius: 10px;
        }

        /* #btn input{
            padding-right: 20px;
            border: red;
            text-align: centre;
            background-color: #00a1d2 ;
            border-radius: 30px;
            width: 100px;
            height: 25px;
        } */
        #button {
            font-family: 'Balsamiq Sans', cursive;
            position: relative;
            left: 280px;
            font-size: 30px;
            background-color: #00a1d2;
            border-radius: 25px;
            width: 250px;
            height: 50px;
            /* justify-content: right;
            text-align: right; */
        }